:root{
	--dark-grey: #1f2d3d;
	--ligt-grey: #dee2e6;
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: darkblue;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "source sans pro", -apple-system, blinkmacsystemfont, "segoe ui", roboto, "helvetica neue", arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	--font-family-monospace: sfmono-regular, menlo, monaco, consolas, "liberation mono", "courier new", monospace;
	--color_0001: #212529;
	--colorPalette-1: #0056b3;
	--colorPalette-2: #fcf8e3;
	--colorPalette-3: #b8daff;
	--colorPalette-4: #7abaff;
	--colorPalette-5: #9fcdff;
	--colorPalette-6: #d6d8db;
	--colorPalette-7: #b3b7bb;
	--colorPalette-8: #c8cbcf;
	--colorPalette-9: #c3e6cb;
	--colorPalette-10: #8fd19e;
	--colorPalette-11: #b1dfbb;
	--colorPalette-12: #bee5eb;
	--colorPalette-13: #86cfda;
	--colorPalette-14: #abdde5;
	--colorPalette-15: #ffeeba;
	--colorPalette-16: #ffdf7e;
	--colorPalette-17: #ffe8a1;
	--colorPalette-18: #f5c6cb;
	--colorPalette-19: #ed969e;
	--colorPalette-20: #f1b0b7;
	--colorPalette-21: #fdfdfe;
	--colorPalette-22: #fbfcfc;
	--colorPalette-23: #ececf6;
	--colorPalette-24: #c6c8ca;
	--colorPalette-25: #95999c;
	--colorPalette-26: #b9bbbe;
	--colorPalette-27: #383f45;
	--colorPalette-28: #495057;
	--colorPalette-29: #e9ecef;
	--colorPalette-30: #ced4da;
	--colorPalette-31: #80bdff;
	--colorPalette-32: #939ba2;
	--colorPalette-33: #34ce57;
	--colorPalette-34: #e4606d;
	--colorPalette-35: #0069d9;
	--colorPalette-36: #0062cc;
	--colorPalette-37: #005cbf;
	--colorPalette-38: #5a6268;
	--colorPalette-39: #545b62;
	--colorPalette-40: #4e555b;
	--colorPalette-41: #218838;
	--colorPalette-42: #1e7e34;
	--colorPalette-43: #1c7430;
	--colorPalette-44: #138496;
	--colorPalette-45: #117a8b;
	--colorPalette-46: #10707f;
	--colorPalette-47: #e0a800;
	--colorPalette-48: #d39e00;
	--colorPalette-49: #c69500;
	--colorPalette-50: #c82333;
	--colorPalette-51: #bd2130;
	--colorPalette-52: #b21f2d;
	--colorPalette-53: #e2e6ea;
	--colorPalette-54: #dae0e5;
	--colorPalette-55: #d3d9df;
	--colorPalette-56: #23272b;
	--colorPalette-57: #1d2124;
	--colorPalette-58: #171a1d;
	--colorPalette-59: #16181b;
	--colorPalette-60: #b3d7ff;
	--colorPalette-61: #adb5bd;
	--colorPalette-62: #004085;
	--colorPalette-63: #cce5ff;
	--colorPalette-64: #002752;
	--colorPalette-65: #383d41;
	--colorPalette-66: #e2e3e5;
	--colorPalette-67: #202326;
	--colorPalette-68: #155724;
	--colorPalette-69: #d4edda;
	--colorPalette-70: #0b2e13;
	--colorPalette-71: #0c5460;
	--colorPalette-72: #d1ecf1;
	--colorPalette-73: #062c33;
	--colorPalette-74: #856404;
	--colorPalette-75: #fff3cd;
	--colorPalette-76: #533f03;
	--colorPalette-77: #721c24;
	--colorPalette-78: #f8d7da;
	--colorPalette-79: #491217;
	--colorPalette-80: #818182;
	--colorPalette-81: #fefefe;
	--colorPalette-82: #686868;
	--colorPalette-83: #1b1e21;
	--colorPalette-84: #d6d8d9;
	--colorPalette-85: #040505;
	--colorPalette-86: #000;
	--colorPalette-87: #f7f7f7;
	--colorPalette-88: #ebebeb;
	--colorPalette-89: #494f54;
	--colorPalette-90: #19692c;
	--colorPalette-91: #0f6674;
	--colorPalette-92: #ba8b00;
	--colorPalette-93: #a71d2a;
	--colorPalette-94: #cbd3da;
	--colorPalette-95: #121416;
	--colorPalette-96: #86bad8;
	--colorPalette-97: #002c59;
	--colorPalette-98: #74c8a3;
	--colorPalette-99: #67ffa9;
	--colorPalette-100: #f672d8;
	--colorPalette-101: #ed6c9b;
	--colorPalette-102: #3f6791;
	--colorPalette-103: #e74c3c;
	--colorPalette-104: #f39c12;
	--colorPalette-105: #00bc8c;
	--colorPalette-106: #3498db;
	--colorPalette-107: #f4f6f9;
	--colorPalette-108: #454d55;
	--colorPalette-109: #a9a9a9;
	--colorPalette-110: #869099;
	--colorPalette-111: #4b545c;
	--colorPalette-112: #dadfe4;
	--colorPalette-113: #c7ced5;
	--colorPalette-114: #4f5962;
	--colorPalette-115: #292d32;
	--colorPalette-116: #777;
	--colorPalette-117: #c2c7d0;
	--colorPalette-118: #d0d4db;
	--colorPalette-119: #3c8dbc;
	--colorPalette-120: #001f3f;
	--colorPalette-121: #3d9970;
	--colorPalette-122: #01ff70;
	--colorPalette-123: #f012be;
	--colorPalette-124: #d81b60;
	--colorPalette-125: #3f474e;
	--colorPalette-126: #56606a;
	--colorPalette-127: #7a8793;
	--colorPalette-128: #515a63;
	--colorPalette-129: #f2f2f2;
	--colorPalette-130: #d9d9d9;
	--colorPalette-131: #b3b3b3;
	--colorPalette-132: #ececec;
	--colorPalette-133: #e6e6e6;
	--colorPalette-134: #ddd;
	--colorPalette-135: #3a4047;
	--colorPalette-136: #0071eb;
	--colorPalette-137: #0065d1;
	--colorPalette-138: #006fe6;
	--colorPalette-139: #1486ff;
	--colorPalette-140: #2e93ff;
	--colorPalette-141: #1a88ff;
	--colorPalette-142: #636b72;
	--colorPalette-143: #575e64;
	--colorPalette-144: #60686f;
	--colorPalette-145: #757f88;
	--colorPalette-146: #838c94;
	--colorPalette-147: #78828a;
	--colorPalette-148: #24973e;
	--colorPalette-149: #1f8236;
	--colorPalette-150: #23923d;
	--colorPalette-151: #2cb74c;
	--colorPalette-152: #31cc54;
	--colorPalette-153: #2dbc4e;
	--colorPalette-154: #1592a6;
	--colorPalette-155: #127e8f;
	--colorPalette-156: #148ea1;
	--colorPalette-157: #19b2ca;
	--colorPalette-158: #1cc6e1;
	--colorPalette-159: #1ab6cf;
	--colorPalette-160: #f2b500;
	--colorPalette-161: #d8a200;
	--colorPalette-162: #edb100;
	--colorPalette-163: #ffc61b;
	--colorPalette-164: #ffcc35;
	--colorPalette-165: #ffc721;
	--colorPalette-166: #d72536;
	--colorPalette-167: #c22231;
	--colorPalette-168: #d32535;
	--colorPalette-169: #df4655;
	--colorPalette-170: #e35c69;
	--colorPalette-171: #e04b59;
	--colorPalette-172: #3781ad;
	--colorPalette-173: #317399;
	--colorPalette-174: #367fa9;
	--colorPalette-175: #4897c5;
	--colorPalette-176: #5ba2cb;
	--colorPalette-177: #4c99c6;
	--colorPalette-178: #00152b;
	--colorPalette-179: #000811;
	--colorPalette-180: #001226;
	--colorPalette-181: #002953;
	--colorPalette-182: #00366d;
	--colorPalette-183: #378a65;
	--colorPalette-184: #307858;
	--colorPalette-185: #368763;
	--colorPalette-186: #43a87b;
	--colorPalette-187: #4cb888;
	--colorPalette-188: #44ab7d;
	--colorPalette-189: #00ec67;
	--colorPalette-190: #00d25c;
	--colorPalette-191: #00e765;
	--colorPalette-192: #15ff7b;
	--colorPalette-193: #2fff8a;
	--colorPalette-194: #1bff7e;
	--colorPalette-195: #df0eb0;
	--colorPalette-196: #c70d9d;
	--colorPalette-197: #db0ead;
	--colorPalette-198: #f125c3;
	--colorPalette-199: #f33dca;
	--colorPalette-200: #f22ac5;
	--colorPalette-201: #c61958;
	--colorPalette-202: #af164e;
	--colorPalette-203: #c11856;
	--colorPalette-204: #e4246a;
	--colorPalette-205: #e63a79;
	--colorPalette-206: #e4286d;
	--colorPalette-207: #5d0ce1;
	--colorPalette-208: #530bc9;
	--colorPalette-209: #5b0cdd;
	--colorPalette-210: #7223f3;
	--colorPalette-211: #823cf4;
	--colorPalette-212: #7528f3;
	--colorPalette-213: #663bb4;
	--colorPalette-214: #5b35a0;
	--colorPalette-215: #643ab0;
	--colorPalette-216: #7b51c6;
	--colorPalette-217: #8965cc;
	--colorPalette-218: #7e55c7;
	--colorPalette-219: #e62c81;
	--colorPalette-220: #de1a74;
	--colorPalette-221: #e5277e;
	--colorPalette-222: #ea5097;
	--colorPalette-223: #ed67a4;
	--colorPalette-224: #eb559a;
	--colorPalette-225: #fa7302;
	--colorPalette-226: #e16702;
	--colorPalette-227: #f57102;
	--colorPalette-228: #fd8928;
	--colorPalette-229: #fd9742;
	--colorPalette-230: #fd8c2d;
	--colorPalette-231: #1db78a;
	--colorPalette-232: #1aa179;
	--colorPalette-233: #1cb386;
	--colorPalette-234: #23dba4;
	--colorPalette-235: #38dfae;
	--colorPalette-236: #26dca6;
	--colorPalette-237: #e8e8e8;
	--colorPalette-238: #2b3035;
	--colorPalette-239: #1f2327;
	--colorPalette-240: #3d444b;
	--colorPalette-241: #495159;
	--colorPalette-242: #395d83;
	--colorPalette-243: #315071;
	--colorPalette-244: #375a7f;
	--colorPalette-245: #45719f;
	--colorPalette-246: #4d7eb1;
	--colorPalette-247: #4774a3;
	--colorPalette-248: #00a87d;
	--colorPalette-249: #008e6a;
	--colorPalette-250: #00a379;
	--colorPalette-251: #00d09b;
	--colorPalette-252: #00eaae;
	--colorPalette-253: #00d69f;
	--colorPalette-254: #268fd5;
	--colorPalette-255: #2280bf;
	--colorPalette-256: #258cd1;
	--colorPalette-257: #45a1de;
	--colorPalette-258: #5bace2;
	--colorPalette-259: #4aa3df;
	--colorPalette-260: #e5910c;
	--colorPalette-261: #cd820a;
	--colorPalette-262: #e08e0b;
	--colorPalette-263: #f4a425;
	--colorPalette-264: #f5ae3e;
	--colorPalette-265: #f4a62a;
	--colorPalette-266: #e53b2a;
	--colorPalette-267: #da2d1b;
	--colorPalette-268: #e43725;
	--colorPalette-269: #e95d4e;
	--colorPalette-270: #ec7265;
	--colorPalette-271: #ea6153;
	--colorPalette-272: #76b1d3;
	--colorPalette-273: #63a6cd;
	--colorPalette-274: #72afd2;
	--colorPalette-275: #95c3dd;
	--colorPalette-276: #a9cee3;
	--colorPalette-277: #99c5de;
	--colorPalette-278: #002244;
	--colorPalette-279: #004286;
	--colorPalette-280: #003872;
	--colorPalette-281: #66c299;
	--colorPalette-282: #53bb8d;
	--colorPalette-283: #62c096;
	--colorPalette-284: #83ceac;
	--colorPalette-285: #95d5b8;
	--colorPalette-286: #87cfaf;
	--colorPalette-287: #53ff9e;
	--colorPalette-288: #39ff90;
	--colorPalette-289: #4eff9b;
	--colorPalette-290: #7bffb5;
	--colorPalette-291: #95ffc3;
	--colorPalette-292: #81ffb8;
	--colorPalette-293: #f55fd3;
	--colorPalette-294: #f347cc;
	--colorPalette-295: #f55ad2;
	--colorPalette-296: #f785de;
	--colorPalette-297: #f99de4;
	--colorPalette-298: #f88adf;
	--colorPalette-299: #ea5a8f;
	--colorPalette-300: #e8447f;
	--colorPalette-301: #ea568c;
	--colorPalette-302: #ef7ea8;
	--colorPalette-303: #f295b7;
	--colorPalette-304: #f083ab;
	--colorPalette-305: #ffce3a;
	--colorPalette-306: #004a99;
	--colorPalette-307: #003e80;
	--colorPalette-308: #99caff;
	--colorPalette-309: #3d4246;
	--colorPalette-310: #313539;
	--colorPalette-311: #bcc1c6;
	--colorPalette-312: #145523;
	--colorPalette-313: #0f401b;
	--colorPalette-314: #86e29b;
	--colorPalette-315: #0c525d;
	--colorPalette-316: #093e47;
	--colorPalette-317: #7adeee;
	--colorPalette-318: #a07800;
	--colorPalette-319: #876500;
	--colorPalette-320: #ffe7a0;
	--colorPalette-321: #921925;
	--colorPalette-322: #7c151f;
	--colorPalette-323: #f3b7bd;
	--colorPalette-324: #bdc6d0;
	--colorPalette-325: #aeb9c5;
	--colorPalette-326: #060708;
	--colorPalette-327: #23536f;
	--colorPalette-328: #1d455b;
	--colorPalette-329: #acd0e5;
	--colorPalette-330: #006ad8;
	--colorPalette-331: #20503b;
	--colorPalette-332: #193e2d;
	--colorPalette-333: #99d6bb;
	--colorPalette-334: #009a43;
	--colorPalette-335: #008138;
	--colorPalette-336: #9affc6;
	--colorPalette-337: #930974;
	--colorPalette-338: #7b0861;
	--colorPalette-339: #f9a2e5;
	--colorPalette-340: #7d1038;
	--colorPalette-341: #670d2e;
	--colorPalette-342: #f29aba;
	--colorPalette-343: #3d0894;
	--colorPalette-344: #33077c;
	--colorPalette-345: #c3a1fa;
	--colorPalette-346: #432776;
	--colorPalette-347: #382063;
	--colorPalette-348: #c7b5e7;
	--colorPalette-349: #ac145a;
	--colorPalette-350: #95124e;
	--colorPalette-351: #f8c7dd;
	--colorPalette-352: #aa4e01;
	--colorPalette-353: #904201;
	--colorPalette-354: #fed1ac;
	--colorPalette-355: #127155;
	--colorPalette-356: #0e5b44;
	--colorPalette-357: #94eed3;
	--colorPalette-358: #cccccc;
	--colorPalette-359: #bfbfbf;
	--colorPalette-360: #caced1;
	--colorPalette-361: #9be7ac;
	--colorPalette-362: #90e4f1;
	--colorPalette-363: #f6cdd1;
	--colorPalette-364: #88939e;
	--colorPalette-365: #c0dbeb;
	--colorPalette-366: #0077f2;
	--colorPalette-367: #abdec7;
	--colorPalette-368: #b4ffd4;
	--colorPalette-369: #fbbaec;
	--colorPalette-370: #f5b0c9;
	--colorPalette-371: #d2b9fb;
	--colorPalette-372: #d5c8ed;
	--colorPalette-373: #fbddeb;
	--colorPalette-374: #ffdfc5;
	--colorPalette-375: #aaf1dc;
	--colorPalette-376: #afb5ba;
	--colorPalette-377: #71dd8a;
	--colorPalette-378: #63d9ec;
	--colorPalette-379: #ffe187;
	--colorPalette-380: #efa2a9;
	--colorPalette-381: #6d7a86;
	--colorPalette-382: #005ebf;
	--colorPalette-383: #b389f9;
	--colorPalette-384: #b8a2e0;
	--colorPalette-385: #f6b0d0;
	--colorPalette-386: #fec392;
	--colorPalette-387: #7eeaca;
	--colorPalette-388: #a9c1da;
	--colorPalette-389: #70ffda;
	--colorPalette-390: #cce5f6;
	--colorPalette-391: #fce3bc;
	--colorPalette-392: #fbdedb;
	--colorPalette-393: #0c84ff;
	--colorPalette-394: #f4fbf8;
	--colorPalette-395: #20344a;
	--colorPalette-396: #182838;
	--colorPalette-397: #97b4d2;
	--colorPalette-398: #005640;
	--colorPalette-399: #003d2d;
	--colorPalette-400: #56ffd4;
	--colorPalette-401: #196090;
	--colorPalette-402: #16527a;
	--colorPalette-403: #b6daf2;
	--colorPalette-404: #976008;
	--colorPalette-405: #7f5006;
	--colorPalette-406: #fad9a4;
	--colorPalette-407: #a82315;
	--colorPalette-408: #921e12;
	--colorPalette-409: #f8c9c4;
	--colorPalette-410: #fafcfd;
	--colorPalette-411: #e2f3eb;
	--colorPalette-412: #fef4f8;
	--colorPalette-413: #85a7ca;
	--colorPalette-414: #3dffcd;
	--colorPalette-415: #a0cfee;
	--colorPalette-416: #f9cf8b;
	--colorPalette-417: #f5b4ae;
	--colorPalette-418: #e6f1f7;
	--colorPalette-419: #cfecdf;
	--colorPalette-420: #e7fff1;
	--colorPalette-421: #feeaf9;
	--colorPalette-422: #fbdee8;
	--colorPalette-423: #0067d6;
	--colorPalette-424: #3395ff;
	--colorPalette-425: #596167;
	--colorPalette-426: #868e96;
	--colorPalette-427: #208637;
	--colorPalette-428: #128294;
	--colorPalette-429: #1fc8e3;
	--colorPalette-430: #dda600;
	--colorPalette-431: #c62232;
	--colorPalette-432: #e0e5e9;
	--colorPalette-433: #222629;
	--colorPalette-434: #32769d;
	--colorPalette-435: #5fa4cc;
	--colorPalette-436: #000b16;
	--colorPalette-437: #317c5b;
	--colorPalette-438: #50b98a;
	--colorPalette-439: #00d75e;
	--colorPalette-440: #34ff8d;
	--colorPalette-441: #cc0da1;
	--colorPalette-442: #f342cb;
	--colorPalette-443: #b41650;
	--colorPalette-444: #e73f7c;
	--colorPalette-445: #550bce;
	--colorPalette-446: #8540f5;
	--colorPalette-447: #5d36a4;
	--colorPalette-448: #8c68ce;
	--colorPalette-449: #e21b76;
	--colorPalette-450: #ed6ca7;
	--colorPalette-451: #e66a02;
	--colorPalette-452: #fd9a47;
	--colorPalette-453: #1aa67d;
	--colorPalette-454: #3ce0af;
	--colorPalette-455: #78838e;
	--colorPalette-456: #697582;
	--colorPalette-457: #335375;
	--colorPalette-458: #5080b3;
	--colorPalette-459: #00936e;
	--colorPalette-460: #00efb2;
	--colorPalette-461: #2383c4;
	--colorPalette-462: #5faee3;
	--colorPalette-463: #d2850b;
	--colorPalette-464: #f5b043;
	--colorPalette-465: #df2e1b;
	--colorPalette-466: #ed7669;
	--colorPalette-467: #67a8ce;
	--colorPalette-468: #001730;
	--colorPalette-469: #00458c;
	--colorPalette-470: #57bc8f;
	--colorPalette-471: #3eff92;
	--colorPalette-472: #f44cce;
	--colorPalette-473: #e84883;
	--colorPalette-474: #373d44;
	--colorPalette-475: #666f76;
	--colorPalette-476: #444;
	--colorPalette-477: #2b2b2b;
	--colorPalette-478: #aaaaaa;
	--colorPalette-479: #727b84;
	--colorPalette-480: #335476;
	--colorPalette-481: #304e6d;
	--colorPalette-482: #2c4765;
	--colorPalette-483: #009670;
	--colorPalette-484: #008966;
	--colorPalette-485: #007c5d;
	--colorPalette-486: #2384c6;
	--colorPalette-487: #217dbb;
	--colorPalette-488: #1f76b0;
	--colorPalette-489: #d4860b;
	--colorPalette-490: #c87f0a;
	--colorPalette-491: #bc770a;
	--colorPalette-492: #e12e1c;
	--colorPalette-493: #d62c1a;
	--colorPalette-494: #ca2a19;
	--colorPalette-495: #2e3439;
	--colorPalette-496: #999;
	--colorPalette-497: #30465f;
	--colorPalette-498: #d2d6de;
	--colorPalette-499: #b1bbc4;
	--colorPalette-500: #748290;
	--colorPalette-501: #eee;
	--colorPalette-502: #666;
	--colorPalette-503: #e9e9e9;
	--colorPalette-504: #fafafa;
	--colorPalette-505: #0074f0;
	--colorPalette-506: #656d75;
	--colorPalette-507: #259b40;
	--colorPalette-508: #1596aa;
	--colorPalette-509: #f7b900;
	--colorPalette-510: #da2839;
	--colorPalette-511: #eff1f4;
	--colorPalette-512: #2d3238;
	--colorPalette-513: #3884b0;
	--colorPalette-514: #398e68;
	--colorPalette-515: #00f169;
	--colorPalette-516: #e40eb4;
	--colorPalette-517: #ca195a;
	--colorPalette-518: #5f0de6;
	--colorPalette-519: #683cb8;
	--colorPalette-520: #e63084;
	--colorPalette-521: #fd7605;
	--colorPalette-522: #1ebc8d;
	--colorPalette-523: #3a5f86;
	--colorPalette-524: #00ad81;
	--colorPalette-525: #2791d9;
	--colorPalette-526: #ea940c;
	--colorPalette-527: #e53f2e;
	--colorPalette-528: #7ab3d5;
	--colorPalette-529: #002449;
	--colorPalette-530: #69c39b;
	--colorPalette-531: #58ffa1;
	--colorPalette-532: #f564d4;
	--colorPalette-533: #eb5f92;
	--colorPalette-534: #9e9e9e;
	--colorPalette-535: #121a24;
	--colorPalette-536: #307095;
	--colorPalette-537: #2d698c;
	--colorPalette-538: #00060c;
	--colorPalette-539: #2e7555;
	--colorPalette-540: #2b6b4f;
	--colorPalette-541: #00cd5a;
	--colorPalette-542: #00c054;
	--colorPalette-543: #c30c9a;
	--colorPalette-544: #b70c90;
	--colorPalette-545: #ab154c;
	--colorPalette-546: #9f1447;
	--colorPalette-547: #510bc4;
	--colorPalette-548: #4c0ab8;
	--colorPalette-549: #59339d;
	--colorPalette-550: #533093;
	--colorPalette-551: #d91a72;
	--colorPalette-552: #ce196c;
	--colorPalette-553: #dc6502;
	--colorPalette-554: #cf5f02;
	--colorPalette-555: #199d76;
	--colorPalette-556: #17926e;
	--colorPalette-557: #dfdfdf;
	--colorPalette-558: #f2f4f5;
	--colorPalette-559: #268fff;
	--colorPalette-560: #267fde;
	--colorPalette-561: #267ad4;
	--colorPalette-562: #828a91;
	--colorPalette-563: #73797f;
	--colorPalette-564: #6e7479;
	--colorPalette-565: #48b461;
	--colorPalette-566: #429a56;
	--colorPalette-567: #409152;
	--colorPalette-568: #3ab0c3;
	--colorPalette-569: #3697a6;
	--colorPalette-570: #358e9c;
	--colorPalette-571: #ffca2c;
	--colorPalette-572: #e4b526;
	--colorPalette-573: #daad26;
	--colorPalette-574: #e15361;
	--colorPalette-575: #d04451;
	--colorPalette-576: #c7424f;
	--colorPalette-577: #f9fafb;
	--colorPalette-578: #e6eaed;
	--colorPalette-579: #e0e4e9;
	--colorPalette-580: #52585d;
	--colorPalette-581: #44474b;
	--colorPalette-582: #3f4245;
	--colorPalette-583: #599ec6;
	--colorPalette-584: #518cad;
	--colorPalette-585: #33779f;
	--colorPalette-586: #4f85a5;
	--colorPalette-587: #26415c;
	--colorPalette-588: #26313b;
	--colorPalette-589: #000c19;
	--colorPalette-590: #262b30;
	--colorPalette-591: #5aa885;
	--colorPalette-592: #519174;
	--colorPalette-593: #327e5c;
	--colorPalette-594: #4e896f;
	--colorPalette-595: #27ff85;
	--colorPalette-596: #26df77;
	--colorPalette-597: #00da5f;
	--colorPalette-598: #26d572;
	--colorPalette-599: #f236c8;
	--colorPalette-600: #d631b1;
	--colorPalette-601: #cf0da3;
	--colorPalette-602: #cc31a9;
	--colorPalette-603: #de3d78;
	--colorPalette-604: #c13a6b;
	--colorPalette-605: #b61751;
	--colorPalette-606: #b73867;
	--colorPalette-607: #7d34f4;
	--colorPalette-608: #7030d7;
	--colorPalette-609: #560bd0;
	--colorPalette-610: #6b2fcd;
	--colorPalette-611: #855eca;
	--colorPalette-612: #7655b4;
	--colorPalette-613: #5e37a6;
	--colorPalette-614: #7252ab;
	--colorPalette-615: #eb5b9d;
	--colorPalette-616: #e41c78;
	--colorPalette-617: #df3c87;
	--colorPalette-618: #fd9137;
	--colorPalette-619: #ec8128;
	--colorPalette-620: #e96b02;
	--colorPalette-621: #e17c28;
	--colorPalette-622: #41d1a7;
	--colorPalette-623: #3db592;
	--colorPalette-624: #1ba87e;
	--colorPalette-625: #3bac8b;
	--colorPalette-626: #efefef;
	--colorPalette-627: #5d6974;
	--colorPalette-628: #464f58;
	--colorPalette-629: #e6e8ea;
	--colorPalette-630: #296282;
	--colorPalette-631: #276248;
	--colorPalette-632: #00b44e;
	--colorPalette-633: #ab0b87;
	--colorPalette-634: #941342;
	--colorPalette-635: #4709ac;
	--colorPalette-636: #4e2d89;
	--colorPalette-637: #c21766;
	--colorPalette-638: #c35a02;
	--colorPalette-639: #158765;
	--colorPalette-640: #559ec9;
	--colorPalette-641: #48b484;
	--colorPalette-642: #27ff86;
	--colorPalette-643: #e63475;
	--colorPalette-644: #5c7ea2;
	--colorPalette-645: #526e8b;
	--colorPalette-646: #4f6883;
	--colorPalette-647: #26c69d;
	--colorPalette-648: #26a685;
	--colorPalette-649: #269b7d;
	--colorPalette-650: #52a7e0;
	--colorPalette-651: #4497ce;
	--colorPalette-652: #4291c5;
	--colorPalette-653: #f5ab36;
	--colorPalette-654: #da982f;
	--colorPalette-655: #d0922f;
	--colorPalette-656: #eb6759;
	--colorPalette-657: #e64d3e;
	--colorPalette-658: #dc4c3d;
	--colorPalette-659: #98c4de;
	--colorPalette-660: #7fb6d6;
	--colorPalette-661: #69a9cf;
	--colorPalette-662: #77b2d4;
	--colorPalette-663: #264b71;
	--colorPalette-664: #263b51;
	--colorPalette-665: #001932;
	--colorPalette-666: #263646;
	--colorPalette-667: #89d0b0;
	--colorPalette-668: #72c7a1;
	--colorPalette-669: #59bd90;
	--colorPalette-670: #6ac49c;
	--colorPalette-671: #7effb6;
	--colorPalette-672: #5dffa4;
	--colorPalette-673: #41ff94;
	--colorPalette-674: #52ff9e;
	--colorPalette-675: #f787de;
	--colorPalette-676: #f569d6;
	--colorPalette-677: #f44ece;
	--colorPalette-678: #f55ed3;
	--colorPalette-679: #ef82aa;
	--colorPalette-680: #ec6596;
	--colorPalette-681: #e84a84;
	--colorPalette-682: #eb5c90;
	--colorPalette-683: #28415c;
	--colorPalette-684: #007053;
	--colorPalette-685: #1d6fa5;
	--colorPalette-686: #b06f09;
	--colorPalette-687: #bf2718;
	--colorPalette_1: #545454;
	--colorPalette_2: #595959;
	--colorPalette_3: #2778c4;
	--colorPalette_4: #ea5455;
	--colorPalette_5: #b4dbed;
	--colorPalette_6: #ccc;
	--colorPalette_7: #f0f0f0;
	--colorPalette_8: #666666;
	--colorPalette_9: #f27474;
	--colorPalette_10: #ffca2b;
	--colorPalette_11: #4cd3e9;
	--colorPalette_12: #a1a8ae;
	--colorPalette_13: #add8e6;
	--colorPalette_100: #ebf4f8;
	--colorPalette_20: #357ebd;
	--colorPalette_30: #08c;
	--colorPalette_1000: #d3cfc8;
	--colorPalette_200: #adadad;
	--colorPalette_300: #333;
	--colorPalette_40: #2e6da4;
	--colorPalette_50: #337ab7;
	--colorPalette_60: #4cae4c;
	--colorPalette_70: #5cb85c;
	--colorPalette_80: #46b8da;
	--colorPalette_90: #5bc0de;
	--colorPalette_10000: #eea236;
	--colorPalette_110: #f0ad4e;
	--colorPalette_120: #d43f3a;
	--colorPalette_130: #d9534f;
	--colorPalette_14: #1abc9c;
	--colorPalette_15: #2ecc71;
	--colorPalette_16: #9b59b6;
	--colorPalette_17: #34495e;
	--colorPalette_18: #16a085;
	--colorPalette_19: #27ae60;
	--colorPalette_2000: #2980b9;
	--colorPalette_21: #8e44ad;
	--colorPalette_22: #2c3e50;
	--colorPalette_23: #f1c40f;
	--colorPalette_24: #e67e22;
	--colorPalette_25: #ecf0f1;
	--colorPalette_26: #95a5a6;
	--colorPalette_27: #d35400;
	--colorPalette_28: #c0392b;
	--colorPalette_29: #bdc3c7;
	--colorPalette_3000: #7f8c8d;
	--colorPalette_100000: #c5c5c5;
	--colorPalette_20000: #dddddd;
	--colorPalette_30000: #ffffff;
	--colorPalette_400: #333333;
	--colorPalette_500: #f6f6f6;
	--colorPalette_600: #454545;
	--colorPalette_700: #ededed;
	--colorPalette_800: #003eff;
	--colorPalette_900: #007fff;
	--colorPalette_1000000: #dad55e;
	--colorPalette_1100: #fffa90;
	--colorPalette_1200: #777620;
	--colorPalette_1300: #f1a899;
	--colorPalette_140: #fddfdf;
	--colorPalette_150: #5f3f3f;
	--colorPalette_10000000: #098ddf;
	--colorPalette_200000: #00000032;
	--colorPalette_300000: #8080801d;
	--colorPalette_4000: #222;
	--colorPalette_5000: #e2e2e2;
	--colorPalette_6000: #286090;
	--colorPalette_7000: #3c763d;
	--colorPalette_8000: #31708f;
	--colorPalette_9000: #8a6d3b;
	--colorPalette_100000000: #a94442;
	--colorPalette_11000: #f5f5f5;
	--colorPalette_12000: #dff0d8;
	--colorPalette_13000: #d9edf7;
	--colorPalette_1400: #f2dede;
	--colorPalette_1500: #428bca;
	--colorPalette_1000000000: #fa6362;
	--colorPalette_2000000: #ededef;
	--colorPalette_3000000: #23527c;
	--colorPalette_40000: #42515f;
	--colorPalette_50000: #737373;
	--colorPalette_60000: #eeeeee;
	--colorPalette_70000: #999999;
	--colorPalette_80000: #e0e0e0;
	--colorPalette_10000000000: #a5dc86;
	--colorPalette_20000000: #7066e0;
	--colorPalette_30000000: #dc3741;
	--colorPalette_400000: #6e7881;
	--colorPalette_500000: #facea8;
	--colorPalette_600000: #f8bb86;
	--colorPalette_700000: #9de0f6;
	--colorPalette_800000: #3fc3ee;
	--colorPalette_90000: #c9dae1;
	--colorPalette_100000000000: #87adbd;
	--colorPalette_1000000000000: #000000;
	--colorPalette_200000000: #030303;
	--colorPalette_300000000: #51a351;
	--colorPalette_4000000: #bd362f;
	--colorPalette_5000000: #2f96b4;
	--colorPalette_6000000: #f89406;
	--colorPalette_10000000000000: #b30000;
	--colorPalette_2000000000: #777777;
	--colorPalette_3000000000: #888;
}